
obj/Debug/Calculator.csproj.AssemblyReference.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
.vs/Calculator/v16/.suo
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/ProjectSettings.json
obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
obj/Debug/Calculator.csproj.AssemblyReference.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
